//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0

//- A re-usable bootstrap text input
- sandboxEnv = this.process.env.NODE_ENV == 'sandbox'
mixin textinput(name, label, required)
  div.form-group(class={required: required})
    label(for=name)= label
    input.form-control(type='text', name=name, placeholder=attributes.placeholder, required=required || false, value=sandboxEnv && attributes.default ? attributes.default : '')
mixin select(name, label, required)
  div.form-group(class={required: required})
    label(for=name)= label
    select.form-control(name=name, selected=attributes.selected || '')
      block

mixin sandboxTaxIds()
  option(value='555555555') 555555555
  option(value='666666666') 666666666
  option(value='777777777') 777777777
  option(value='888888888') 888888888

mixin stateOptions()
  option(value='AL') AL
  option(value='AK') AK
  option(value='AS') AS
  option(value='AZ') AZ
  option(value='AR') AR
  option(value='CA') CA
  option(value='CO') CO
  option(value='CT') CT
  option(value='DE') DE
  option(value='DC') DC
  option(value='FM') FM
  option(value='FL') FL
  option(value='GA') GA
  option(value='GU') GU
  option(value='HI') HI
  option(value='ID') ID
  option(value='IL') IL
  option(value='IN') IN
  option(value='IA') IA
  option(value='KS') KS
  option(value='KY') KY
  option(value='LA') LA
  option(value='ME') ME
  option(value='MH') MH
  option(value='MD') MD
  option(value='MA')(selected=sandboxEnv ?'selected' : '') MA
  option(value='MI') MI
  option(value='MN') MN
  option(value='MS') MS
  option(value='MO') MO
  option(value='MT') MT
  option(value='NE') NE
  option(value='NV') NV
  option(value='NH') NH
  option(value='NJ') NJ
  option(value='NM') NM
  option(value='NY') NY
  option(value='NC') NC
  option(value='ND') ND
  option(value='MP') MP
  option(value='OH') OH
  option(value='OK') OK
  option(value='OR') OR
  option(value='PW') PW
  option(value='PA') PA
  option(value='PR') PR
  option(value='RI') RI
  option(value='SC') SC
  option(value='SD') SD
  option(value='TN') TN
  option(value='TX') TX
  option(value='UT') UT
  option(value='VT') VT
  option(value='VI') VI
  option(value='VA') VA
  option(value='WA') WA
  option(value='WV') WV
  option(value='WI') WI
  option(value='WY') WY
  option(value='DC') DC
  option(value='AA') AA
  option(value='AE') AE
  option(value='AP') AP

+textinput('firstName', 'First Name', true)(default='Rose')
+textinput('middleName', 'Middle Name')
+textinput('lastName', 'Last Name', true)(default='Dean')
+textinput('nameSuffix', 'Suffix')(placeholder='E.g. Jr, Sr')
+textinput('addressLine1', 'Address Line 1', true)(default='88 Suffolk St')
+textinput('addressLine2', 'Address Line 2')
+textinput('addressLine3', 'Address Line 3')
+textinput('addressLine4', 'Address Line 4')
+textinput('city', 'City', true)(default='Springfield')
+select('stateCode', 'State', true)
  +stateOptions()
+textinput('postalCode', 'Zip Code', true)(default='01109')
+select('addressType', 'Address Type')
  option(value='')
  option(value='Home') Home
  option(value='Business') Business
if sandboxEnv
  +select('taxId', 'SSN', true)
    +sandboxTaxIds()
else
  +textinput('taxId', 'Last Four Digits of SSN', true)
+textinput('dateOfBirth', 'Birth Date', false)(placeholder='YYYY-MM-DD', default='1964-11-12')

div.form-note The following information is optional. However, it can help us show you offers that might match your needs and circumstances better.
+textinput('emailAddress', 'Email Address')
+select('primaryBenefit', 'Most Desired Credit Card Benefit')
  option(value='NotSure') Not sure
  option(value='LowInterest') Low Interest Rate
  option(value='TravelRewards') Travel Rewards
  option(value='CashBack') Cash Back Rewards
+select('selfAssessedCreditRating', 'Credit Rating')
  option(value='Excellent') Excellent
  option(value='Average') Average
  option(value='Rebuilding') Rebuilding
+textinput('annualIncome', 'Annual Income (dollars)')
+select('bankAccountSummary', 'Type of Bank Accounts')
  option(value='CheckingAndSavings') Checking &amp; Savings
  option(value='CheckingOnly') Checking Only
  option(value='SavingsOnly') Savings Only
  option(value='Neither', selected) Neither
