//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0

//- A re-usable bootstrap text input
- stateCodes = typeof stateCodes != 'undefined' ? stateCodes : []
- bankAccountSummaryOptions = typeof bankAccountSummaryOptions != 'undefined' ? bankAccountSummaryOptions : []
- user = typeof user != 'undefined' ? user : { address : {}}
- var _default

mixin textinput(name, label, required)
  div.form-group(class={required: required})
    label(for=name)= label
    input.form-control(type='text', name=name, placeholder=attributes.placeholder, required=required || false, value=attributes.default)

mixin select(name, label, required)
  div.form-group(class={required: required})
    label(for=name)= label
    select.form-control(name=name)
      block

mixin stateOptions()
  each stateCode in stateCodes
    if stateCode == user.address.stateCode
      option(value=stateCode, selected='selected')= stateCode
    else 
      option(value=stateCode)= stateCode

mixin bankAccountSummary()
  if bankAccountSummaryOptions.length
    +select('bankAccountSummary', 'Type of Bank Accounts')
      each option in bankAccountSummaryOptions
        - let value = option.value
        - let key = option.key
        if key == user.bankAccountSummary || (option.default && typeof _default != 'undefined')
          - _default = option
          option(value=value, selected='selected')= key
        else
          option(value=value)= key

+textinput('firstName', 'First Name', true)(default=user.firstName)
+textinput('middleName', 'Middle Name')
+textinput('lastName', 'Last Name', true)(default=user.lastName)
+textinput('nameSuffix', 'Suffix')(placeholder='E.g. Jr, Sr')
+textinput('addressLine1', 'Address Line 1', true)(default=user.address.addressLine1)
+textinput('addressLine2', 'Address Line 2')
+textinput('addressLine3', 'Address Line 3')
+textinput('addressLine4', 'Address Line 4')
+textinput('city', 'City', true)(default=user.address.city)
+select('stateCode', 'State', true)
  +stateOptions()
+textinput('postalCode', 'Zip Code', true)(default=user.address.postalCode)
+select('addressType', 'Address Type')
  option(value='')
  option(value='Home') Home
  option(value='Business') Business
+textinput('taxId', 'Last Four Digits of SSN', true)
+textinput('dateOfBirth', 'Birth Date', false)(placeholder='YYYY-MM-DD')

div.form-note The following information is optional. However, it can help us show you offers that might match your needs and circumstances better.
+textinput('emailAddress', 'Email Address')(default=user.emailAddress)
+select('primaryBenefit', 'Most Desired Credit Card Benefit')
  option(value='NotSure') Not sure
  option(value='LowInterest') Low Interest Rate
  option(value='TravelRewards') Travel Rewards
  option(value='CashBack') Cash Back Rewards
+select('selfAssessedCreditRating', 'Credit Rating')
  option(value='Excellent') Excellent
  option(value='Average') Average
  option(value='Rebuilding') Rebuilding
+textinput('annualIncome', 'Annual Income (dollars)')(default=user.annualIncome)
+bankAccountSummary()
