//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0
div#prefill-acceptance.modal.fade(tabindex='-1', role='dialog')
    div.modal-dialog
        div.modal-content
          form(action='/prefill-acceptance', method='POST', name="prefill-acceptance")
            input(type="hidden" name="_csrf" value="#{csrfToken}")
            div.modal-header
              button.close(type='button', data-dismiss='modal', aria-label='close')
                span(aria-hidden='true') &times;
              h4.modal-title Prefill Acceptance
            div.modal-body
              | Save time by allowing us to prefill some of your application information.
              .bold Information we will attempt to prefill includes:
              ul.list-group
                li.list-group-item 
                  .container-fluid
                    .col-xs-6
                      | Name (First, Middle, Last & Suffix): 
                    .col-xs-6
                      | !{user.firstName} !{user.middleName} !{user.lastName}
                li.list-group-item 
                  .container-fluid
                    .col-xs-6
                      | Date of Birth: 
                    .col-xs-6
                      | !{user.dateOfBirth}
                li.list-group-item
                  .container-fluid
                    .col-xs-2
                      | Address:
                    .col-xs-10 
                      | !{user.address.addressLine1} !{user.address.addressLine2}
                      if user.address.addressLine3 || user.address.addressLine4
                        br
                        | !{user.address.addressLine3} !{user.address.addressLine4}
                      br
                      | !{user.address.city}, !{user.address.stateCode} !{user.address.postalCode}
                li.list-group-item 
                  .container-fluid
                    .col-xs-4 Phone Numbers:
                    .col-xs-8
                      if user.telephoneNumbers && user.telephoneNumbers.length
                        each num in user.telephoneNumbers
                          | (!{num.phoneNumberType}) !{num.telephoneNumber}
                          br
                li.list-group-item 
                  .container-fluid
                    .col-xs-4 Email Addresses:
                    .col-xs-8
                      if user.emailAddresses && user.emailAddresses.length
                        each address in user.emailAddresses
                          | !{address.emailAddress}
                          br
                  
                li.list-group-item
                  .container-fluid
                    .col-xs-3 Income:
                    .col-xs-9 !{user.annualIncome}
                li.list-group-item 
                  .container-fluid
                    .col-xs-8 Type of Bank Account you may have (if any):
                    .col-xs-4
                      each bankAccountSummary in bankAccountSummaryOptions
                        if bankAccountSummary.value === user.bankAccountSummary
                          | !{bankAccountSummary.key}
                    
            div.modal-footer
              div
                span.text-danger.hidden
                  | Prefill attempt failed
                i.spinner.fa.fa-spinner.fa-pulse.fa-fw.hidden
                | &nbsp;&nbsp;
                button.btn.btn-default(type='button', data-dismiss='modal')
                  | Close
                button.btn.btn-primary(type='submit')
                  | Accept
              a.deny-prefill(target="_blank") Don't prefill information
