//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0

extends ./layout.jade

block navbar-custom
  .btn-toolbar.navbar-right
    button.btn.btn-md.navbar-btn.btn-success(role='button', data-toggle='modal', data-target='#customer-info')
      i.btn-img.fa.fa-credit-card(aria-hidden="true")
      | Find Pre-Qualified Offers
    a.btn.btn-md.navbar-btn.btn-success.auth-btn&attributes(user ? { 'class': 'logout-btn', 'href': '/logout' } : { 'data-toggle': 'modal', 'data-target': '#login', 'role': 'button' })
      i.btn-img.fa(aria-hidden="true", class="#{ user ? fa-sign-out : fa-sign-in }")
      = user ? 'Sign Out' : 'Sign In' 
    

block content
  div.header
    div.container        
      div.row
        div.col-md-7
          h2 CapitalOne
            sup ® 
            | Credit Cards
          p These are some of the cards on offer from CapitalOne
            sup ® 
            | .
        div.filters.col-md-5
          div.pull-right
            div.btn-group(role="group", aria-label="Card Types")
              each cardType in cardTypes
                a.btn.btn-sm.btn-primary(href='/?cardType='+cardType.name, disabled=currentCardType===cardType.name)= cardType.display
  div.cards.container
      each card in cards
        // NOTE: In a real app, avoid storing truth in the DOM!
        div.card-info(data-raw-json="#{card.rawJSON}")
          div.main-info
            div.details
              p.card-title
                span
                  | !{card.productDisplayName}
                  if card.productMetrics && card.productMetrics.length
                    - metric = card.productMetrics[0].ratingsAndReviews
                    - review = metric.productReviews
                    span.total-stars
                      span.actual-stars(style='width:#{metric.productRating*20}%;')
                    if review
                      a.reviews(href="#{review.link}", target="_blank") !{review.count} reviews
                a.json-toggle.pull-right(href="#", title="See raw JSON") {...}
              div.summary
                +cardNameImage(card)(data-toggle='tooltip', title='#{(card.productKeywords || []).join(", ")}')
                +marketingCopy(card)
            div.apply.json-toggle.pull-right
              +applyButton(card)
              p with CapitalOne
                sup ®
          div.additional-info
            div.info
              div.info-label Purchases Intro APR
              div.info-value= card.introPurchaseApr.introPurchaseAprDescription || 'N/A'
            div.info
              div.info-label Balance Transfers Intro APR
              div.info-value= card.introBalanceTransferApr.introBalanceTransferAprDescription || 'N/A'
            div.info
              div.info-label Regular APR
              div.info-value= card.purchaseApr.purchaseAprDescription || 'N/A'
            div.info
              div.info-label Annual Fee
              div.info-value= card.annualMembershipFee || 'N/A'
            div.info
              div.info-label Credit Needed
              div.info-value= (card.creditRating || []).join(', ' ) || 'N/A'

block modals
  div#customer-info.modal.fade(tabindex='-1', role='dialog')
    div.modal-dialog
      div.modal-content
        form(action='/offers', method='POST', name="prequalification")
          input(type="hidden" name="_csrf" value="#{csrfToken}")
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-label='close')
              span(aria-hidden='true') &times;
            h4.modal-title Tell us a little about yourself
          div.modal-body
            include ./includes/customer-form
          div.modal-footer
            span.text-danger.hidden
              | Errors detected.
            | &nbsp;&nbsp;
            button.btn.btn-default(type='button', data-dismiss='modal')
              | Close
            button.btn.btn-primary(type='submit')
              | See Offers
  include ./includes/raw-json-modal
  include ./includes/login-modal
  include ./includes/prefill-accept-modal
