//- Copyright 2016 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.

extends ./layout

mixin cardInfo(card)
  div.card-info
    div.main-info
      div.details
        p.card-title= card.productDisplayName
        img(src=card.images[0].url)
      div.apply
        a.btn.btn-lg.btn-success(href=card.applyNowLink)
          i.fa.fa-lock(aria-hidden="true")
          | APPLY NOW
        p with CapitalOne®
    div.additional-info
        

block navbar-custom
  button.navbar-right.btn.btn-md.navbar-btn.btn-success(role='button', data-toggle='modal', data-target='#customer-info')
    i.btn-img.fa.fa-credit-card(aria-hidden="true")
    | Find Pre-Qualified Offers

block content
  div.cards
    div.header
      div.container        
        div.row
          div.col-md-8
            h2 CapitalOne® Credit Cards
            p These are some of the cards on offer from CapitalOne®.
          div.filters.col-md-4
            div.btn-group(role="group", aria-label="Card Types")
              each cardType in cardTypes
                a.btn.btn-primary(href='/?cardType='+cardType.name, disabled=currentCardType===cardType.name)= cardType.display
    div.container
      each card in cards
        +cardInfo(card)

block modals
  div#customer-info.modal.fade(tabindex='-1', role='dialog')
    div.modal-dialog
      div.modal-content
        form(action='/offers', method='POST')
          input(type="hidden" name="_csrf" value="#{csrfToken}")
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-label='close')
              span(aria-hidden='true')
                &times;
            h4.modal-title Tell us a little about yourself
          div.modal-body
            include ./includes/customer-form.jade
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')
              | Close
            button.btn.btn-primary(type='submit')
              | See Offers
