//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0

//- Common Card mixins

mixin cardNameImage(card)
  - var image = card.images && (card.images.cardArt || card.images.cardName || card.images.banner)
  if image
      img.card-name(src=image.url, alt=image.alternateText)&attributes(attributes)
  else
    img.card-name(src='/images/default-card.png')&attributes(attributes)
      
mixin applyButton(card)
  a.btn.btn.btn-lg.btn-success
    i.fa.fa-lock(aria-hidden="true")
    | APPLY NOW

mixin collapsibleMarketingCopy(card)
  ul
    each copyLine in card.mainMarketingCopy
      li !{copyLine}
  if card.extraMarketingCopy && card.extraMarketingCopy.length
    ul.collapse
      each copyLine in card.extraMarketingCopy
        li !{copyLine}
    a.show-hide(href='#')
      | Show More

mixin marketingCopy(card)
  div.marketing-copy
    if card.mainMarketingCopy
      +collapsibleMarketingCopy(card)
    else
      span.missing-text 'No Info'

doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title=title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href="/")            
            i.fa.fa-credit-card-alt(aria-hidden="true")
            | CreditSite
        block navbar-custom
    block content
    block modals
    block scripts
    script.
      $(function () {
        $('.marketing-copy a.show-hide').click(function (e) {
          var $el = $(e.target),
              copy = $el.siblings('.collapse')
          e.preventDefault()
          copy.collapse('toggle')
        })
        
        $('.marketing-copy .collapse')
          .on('show.bs.collapse', function (e) {
            $(e.target).siblings('a.show-hide').text('Show Less')
          })
          .on('hide.bs.collapse', function (e) {
            $(e.target).siblings('a.show-hide').text('Show More')
          })
      });
      $(function () {
          $('.card-info [data-toggle="tooltip"]').tooltip({delay: 0, placement: 'right'});
      });
      $(function () {
          $('.card-info a.json-toggle').click(function (evt) {
              var card = $(this).closest('.card-info'),
                  json = JSON.stringify(card.data('rawJson'), null, 2);
              evt.preventDefault();

              $('#card-json .raw-json').text(json);
              $('#card-json').modal('show');
          });
      });
